<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mem board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>

<header class="navigation">
    <a href="/" class="nav-button">Strona startowa</a>
    <a href="/mem" class="nav-button">Tablica memów</a>
    <a href="/mem/new" class="nav-button">Dodaj nowego mema</a>
</header>

<div class="content">

    <h2>Dodawanie nowego mema</h2>

    <form action="#" th:action="@{/mem/new}" th:object="${mem}" method="post" enctype="multipart/form-data" class="form">
        <input th:field="*{title}" name="nazwa" placeholder="Nazwa mema" required/>
        <input th:field="*{file}" type="file" required/>
        <textarea th:field="*{description}" placeholder="Podpis pod memem" rows="5"></textarea>
        <input type="submit" value="Dodaj"/>
    </form>
</div>

</body>
</html>
